<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.sogeti.training.rental.ui.category1"
            name="Rental">
      </category>
      <view
            category="com.sogeti.training.rental.ui.category1"
            class="com.sogeti.training.rental.ui.views.RentalPropertyView"
            id="com.sogeti.training.rental.ui.rentalproperty"
            name="Rental Properties"
            restorable="true">
      </view>
      <view
            category="com.sogeti.training.rental.ui.category1"
            class="com.sogeti.training.rental.ui.views.AngenceDetailsView"
            id="com.sogeti.training.rental.ui.angencedetails"
            name="Angence Details"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.sogeti.training.rental.ui.PerspectiveFactory1"
            icon="icons/sample.png"
            id="com.sogeti.training.rental.ui.perspective1"
            name="Rental">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.sogeti.training.rental.ui.RentalPrefColor"
            id="com.sogeti.training.rental.ui.page1"
            name="Colors">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.sogeti.training.rental.ui.RentalPrefInitializer">
      </initializer>
   </extension>

</plugin>
